/*--------- editor interface style ------------*/

html{
    font-family: Lato sans-serif;
    font-size: 16px;
    max-width: 100%;
    width:auto;
    min-width:992px!important;
    position:absolute;
    overflow-x: hidden;
    min-height:660px!important;

}


::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C7C7CC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #C7C7CC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #C7C7CC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #C7C7CC;
}
.ng-scope .main-panel{
    width:100%;
}

.basicfont{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    line-height: 1em;

}

.smallfont{
    font-family: 'Lato', sans-serif;
    font-size: 0.5rem;
    letter-spacing: 0.05em;
    line-height: 1em;
    font-weight: lighter;

}

.bigfont{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1em;
    font-weight: normal;
}


.mianbuttons{
    position: fixed;
    bottom: 95px !important;
    width: 100%;

}

.topbuttons{
    margin: 0 0em 0 0em;
    position: fixed;
    top: 0;
    width: 100%;
    height:95px;
    padding-top: 40px;
    padding-bottom: 15px;
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); /* Standard syntax */

}

.topbuttons .main-btn{
    margin: 0em;
}
.nav>li>a {
    padding:0;
    height: 40px;
}
.mianbuttons .createli{
    /*background-color: rgba(220,220,220,0.2);*/
   /* padding:0.5em;*/

}
.topbuttons .createli li{
 display: inline-block;
 width: 100px;
 margin-right: 10px;
}


.sub-nav li{
 display: inline-block;
 margin:10px;
}
.main-nav{
    text-align: center;
    left:0;
}
.btn{
    background: none;
}

.main-btn, .main-btn:hover,
.main-btn:focus{
    width:100%;
    height:2em;
    background-color:white;
    color:#BC9B6A;
    border: none;
    text-align: center;
    opacity: 1;
}

.main-btn,
.main-btn:visited{
    width:100%;
    background-color:white;
    color:#BC9B6A;
    border: none;
    text-align: center;
 }


.main-btn:hover,
.main-btn:active,
.main-btn:focus{
    width:100%;
    background-color:#BC9B6A;
    color:white;
    border: none;
    text-align: center;
 }



.second_btn,
.second_btn:visited{
    width:100px;
    height: 40px;
    background-color:#ffffff;
    color:#bc9b6a;
    border: none;
    text-align: center;
    font-weight: bold;
    opacity: 1;
    border-radius: 10px;
}


.second_btn:hover,
.second_btn:active,
.second_btn:focus{
   
    background-color:#BC9B6A;
    color:#ffffff;
    border: none;
    text-align: center;
}


.fa{
    width:auto;
}
.fg-lg{
    vertical-align: 0;

}

.footer{
    background: rgba(0,0,0,0.2); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); /* Standard syntax */
    height: 95px;
    min-height: 95px;
    padding-right: 40px;
    padding-left: 40px;
}


.sbtn{
    margin: 10px 0 10px 50px;
    width: 150px;
    height: 75px;
    display: inline-grid;
}
.sbtn p{
    margin-bottom: 0;
}
.sbtn-scene{
 
    width: 150px;
    height: 75px;
}
.sbtn button {
    width: 100px;
    height: 40px;
    font-weight: 500;
    margin: 30px 25px;
    font-size: 11px;
}
.choosed{
    border:2px solid rgba(255,255,255,0.8);

}
.fa{
    font-weight: 400; 
}

.stagebtn_1{
/*    line-height: 8em;
    margin:auto;*/
}

.collapse{
    width:100%;
}

.stagebtn_2{
/*    line-height: 6em;*/
}

.editor_modal{

}
.modal {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transform: translate(-50%,-50%);
    width: 770px;
    height: 596px;
    border-radius: 10px;
     box-shadow: 0 0 50px  rgba(0, 0, 0, 0.15);
}
.modal-lg {
    width: 100%;
    height: 100%;
    margin:0;
  }
.modal-header{
  background: none;
    color: black;
    margin: 24px 0px 24px 39px;
    border: 0;
    font-size: 26px;
    padding:0;
}
.modal-header p{
  padding:0;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.modal-content{
    height: 100%;
}

.modal-dialog{
   /* margin:5em auto;*/
}

.modal-body{
  width: 690px;
  height: 438px;
  padding: 30px;
  margin-left: 39px;
  border:1px #e4e3e4 solid;
  background:#FCFCFC;
  overflow:auto;
}

.modal-body p{
    border-bottom: 0.5px solid #E4E3E4;
    font-size: 14px;
    line-height: 14px;
    padding: 10.5px 0;
    margin-bottom: 12px;
}


.mediacontainer {
   width: 33%;
    display: inline-block;
    padding: 7.5px;
  /*  padding-left: 0;*/
}
.withsubtitle{
    padding-left: 0;
}
.modal-footer{
    border:0;
    padding: 39px 39px 16px 39px;
        display: inline-flex;
    
}
.comfirm{
   
    
}
.comfirm .btn-primary{
    border-radius: 16px;
     width: 72.62px;
    height: 35.81px;
    margin-right: 14px;
}
.comfirm .btn-cancel{
background:transparent;
color: #333333;
}
.comfirm .btn-cancel:hover , .comfirm  .btn-cancel:focus , .comfirm  .btn-cancel:active{
background:transparent;
color: #333333;
}
.media{
    background:none;
}
.media img{
    box-sizing: border-box;
}


.media img:hover{
    border:1px solid rgb(202, 182, 129);
    border-radius: 2px;



}

.mediacontainer .choosed{
    border:2px solid rgb(202, 182, 129);
    border-radius: 2px;
}

.media, media-body{
    overflow: auto;
}

.modal-header .close{
    color:#f5f5f5;
    opacity: .8;
}




.btn-primary{
    width:100%;
    background-color:#BC9B6A;
    padding: 0.5em;
    color:#ffffff;
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
    border: none;
    float: left;
    border-radius: 2px;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #bc9b6a;
    color:#ffffff;
    border: none;

}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover{
    background-color: #bc9b6a;
    color:#ffffff;
    border: none;
}


.tooltip{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    line-height: 1em;
    color:#bc9b7a;
    padding:0.5em
}


.modal-body{
    overflow-y:scroll;
    
}

.editor_modal>.modal-body::-webkit-scrollbar {
    width: 5px; /* remove scrollbar space */
    /*height: 5px;*/
    background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
.editor_modal>.modal-body::-webkit-scrollbar-thumb {
    /*background: rgba(188,155,106,0.2);*/
    /*background: #151515;*/
    background-color: rgba(220,220,220,0.2);
    /*opacity: 0.2;*/
}



.horizontal-scroll-wrapper {
    max-height: 8em;
    white-space:nowrap;
    overflow-x:auto;
    overflow-y: hidden;
}

.horizontal-scroll-wrapper > div {

     display:inline-block
}


.horizontal-scroll-wrapper::-webkit-scrollbar {
    height: 15px;
    background: transparent; /* optional: just make scrollbar invisible */
}


.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
    /*background: rgba(188,155,106,0.2);*/
    /*background: #151515;*/
    background-color: rgba(255,255,255,0.5);
    /*opacity: 0.2;*/
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}



.places-buttons .btn{
    width: 100px;
    height: 40px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 1px 5px 6px rgba(0,0,0,0.02);
}
.places-buttons-secondary .btn{
     width: 60px;
     margin-top: 0;
     margin-bottom: 0;
}

.text-title {
   color:white;
}
.text-title p{
       margin-bottom: 10px;
    font-size: 15px;
    line-height: 1;
}
.text-note {
   margin: 0;
   padding: 2px 0;
   font-size: 9px; 
   color:#ffffff;
}

.text-content{
    border-radius:2px;
    width: 350px;
    height: 40px;
    text-align: left;
    color:#333333;
    font-weight: 300;
    -webkit-user-select: auto;
}
.text-color{
    border-radius: 2px;
    width: 100px;
    height: 40px;
    text-align: left;
    color:#333333;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
}

.text-size{
    border-radius: 2px;
    width: 100px;
    height: 40px;
    text-align: left;
    color:#333333;
    font-weight: 300;
}
.text-delete{
     border-radius: 2px;
    width: 90px;
    height: 40px;
    text-align: text;
    color:white;
    font-weight: 300;
    background-color: #FF3B30;
}
.sbtn-text{
 width: 350px; 
}
.sbtn-size{
 width: 100px; 
}
.sbtn-color{
 width: 100px; 
}
.sbtn-delete{
    width:90px;
    float: right;
    margin-right:40px;
}
.text-content:visited,
.text-content:hover,
.text-content:active,
.text-content:focus{
background:#ffffff;
color: #333;
text-align: left;
}
.text-size:visited,
.text-size:hover,
.text-size:active,
.text-size:focus{
background:#ffffff;
color: #333333;
text-align: left;
}
.text-color:visited,
.text-color:hover,
.text-color:active,
.text-color:focus{
background:#ffffff;
color: #333333;
text-align: left;
}
.text-delete:visited,
.text-delete:hover,
.text-delete:active,
.text-delete:focus{
    color:white;
    background-color: #FF3B30;}


/*auto-fill position    */
.pac-container{
    margin-top: -210px;

}
.sbtn option{
margin-top:-20px;
}
.sidebtnlist{
position: fixed;
z-index: 10;
right: 40px;
top:40px;
width: 40px;
}
.sidebtn{
    color: #bc9b6a;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background:white;
    margin-bottom: 10px;
    border:0px;
    box-shadow: 1px 1px rgba(0,0,0,0.1);
}
.sharebtn .fa{
    color: white !important;
}
.sharebox{
    position: fixed;
    top: 40px;
    right: 90px;
    display: none;

}

.sharebtn{
        width: 40px;
    height: 40px;
    background:  #bc9b6a;
    color: #bc9b6a;
    border-radius: 50%;
    border:none;
     box-shadow: 1px 1px rgba(0,0,0,0.1);
}

.sidebtn:focus{
    color: #bc9b6a;
    background: white;
}
.sharebtn:focus{
    color: #bc9b6a;
    background: white;
}


.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    background:rgba(0,0,0,0.69);
     z-index: 12;
}
.maplayout{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
}
.maplayout img{
   /* width: 100%;*/
    max-height: 90vh;
}
.imagelayout{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
    width:100%;
}
.imagelayout img{
    width: 100%;
   /* max-height: 90vh;*/
}
.projecttitle{
    font-size: 16px;
    color: white;
    font-weight: 30;
    color: white;
    margin:0;
}
.projecttitle span{
    float: right;
    cursor: pointer;
}
.a-enter-vr{
    z-index: 200;
}
.a-enter-vr-button{
       background: white !important;
    background-image: url(../../image/vr.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    color: #bc9b6a !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    min-width: 40px !important;
    min-height: 40px !important;
    right: 40px !important;
    position: fixed !important;
    bottom: 40px !important;
    padding: 0 !important;
    box-shadow: 1px 1px rgba(0,0,0,0.1) !important;
}
.a-enter-vr-button:hover{
   background:white  !important;
   background-image:url(../../image/vr.svg )  !important;
    background-repeat: no-repeat  !important;
}

img{
    height: 100% !important;
    width: 100%;
}

.deletescene{
    position: absolute;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    margin: -82px  -12px!important;
    display: none;
}

.img-responsive:hover + .deletescene {
    display: block;
}
.deletescene:hover {
    display: block;
}
.modal-changebackground, .modal-hotspot{
    height: 695px;
}

.modal-changebackground .modal-body{
    height: 362px;
    width: 690px;
    padding:0px;
    border:0px;
    background:white;
   
}
.modal-tab{
    margin-left: 39px;
}
.tab{
    font-size: 14px;
    width: 143px;
    border: 1px solid #E4E3E4;
    border-bottom: none;
    background:#FCFCFC;
    margin: 0;
    line-height: 40px;
    text-align: center;
}
.modal-changebackground .modal-body{
    background:white;
    height: 402px;
    width: 692px;
    padding:0px;
  
}
.modal-hotspot .modal-body{
    background:white;
    height: 520px;
    width: 692px;
    padding:0;
    border:0;
  
}
.modal-changebackground .modal-body .modal-body-inner {
    background:white;
    border:1px solid #E4E3E4;
    height: 360px;
    width: 690px;
    padding:7.5px;
    display: none;
    background:#fcfcfc;
}
.modal-hotspot .modal-body .modal-body-inner{
     height: 478px;
     background:white;
    border:1px solid #E4E3E4;
    width: 690px;
    padding:30px;
    display: none;
    background:#fcfcfc;
    overflow: scroll;
}
.modal-changebackground .modal-setting{
    width: 692px;
    height: 100px;
    border: 1px solid #E4E3E4;
    background:#FCFCFC;
    margin-left: 39px;
    margin-top:20px;
}
.modal-changebackground .modal-footer,.modal-hotspot .modal-footer {
    border:0;
    padding: 43px 39px 29px 39px;
    display: inline-flex;
    
}

.model-tab input{
    display: none;
}
.model-tab2 input{
    display: none;
}



.model-tab label {
  display: inline-block;
  margin-bottom:-1px;
  font-size: 14px;
  text-align: center;
  width: 143px;
  line-height: 40px;
  color: #bbb;
  border: 1px solid #E4E3E4;
  font-weight: normal;
  margin-right: -4px;
}

.model-tab2 label {
  display: inline-block;
  margin-bottom:-1px;
  font-size: 14px;
  text-align: center;
  width: 143px;
  line-height: 40px;
  color: #bbb;
  border: 1px solid #E4E3E4;
  font-weight: normal;
  margin-right: -4px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

.model-tab2 input:checked + label {
  color: #555;
  border: 1px solid #E4E3E4;
  border-bottom: 1px solid #fcfcfc;
  background: #fcfcfc;
}

.model-tab input:checked + label {
  color: #555;
  border: 1px solid #E4E3E4;
  border-bottom: 1px solid #fcfcfc;
  background: #fcfcfc;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8 {
  display: block;
}
.modal-section{
    background:white;
    height: 332px;
    border:1px solid #E4E3E4;
    margin:7px;
}


/*switch button*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background:transparent;
  border: none;
  margin:0;
  margin-top: 34px;
  margin-left: 30px;
  margin-bottom: -10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(188,155,106,0.4);
  -webkit-transition: .4s;
  transition: .4s;
  border:1px solid #E4E3E4;

}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BC9B6A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BC9B6A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-setting-title{
    display: inline-block;
    margin-left: 40px;
    margin-top: 45px;
}

.modal-setting-title p{
    line-height: 1;
    margin:0;
}
.modal-setting-title-image{
    margin-left:90px;
}
.image-title{
    display: inline-block;
    margin-left: 24px;}

.image-title input{
    display: inline-block;
    width: 290px;
    height: 40px;
    background: white;
    border:#E4E3E4 1px solid;
    border-radius: 2px;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.changescene{
    display:none;
}

.hotspottitle{
    margin-left: 16px;
    padding-bottom: 20px !important;
    border-bottom: 0 !important;
}
.stage-title p{
    padding: 0;
    padding-bottom: 20px;
    padding-left: 16px;
}
.hotspotlist {
    display: inline-block;
    margin-right:12px;
    margin-bottom: 12px;
    margin-top: 12px;
    border:2px solid #E4E3E4;
}

.hotspotlistselected{
    display: inline-block;
    margin-right:12px;
    margin-bottom: 12px;
    border:2px solid #bc9b6a;
}
.hotspotlist img{
    width: 80px;
}
.stage-title-border-top p{
    padding-top: 30px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-bottom: none;
    border-top: 1px solid #E4E3E4;
    margin-top: 18px;
    margin-bottom: 0;
}

.hotspotuploadbtn {
    display: inline-block;
}
.hotspotuploadbtn input{
    width: 315px;
    border: 1px solid #E4E3E4;
    background: white;
    height: 30px;
    text-align: left;
    padding-left: 16px;
    margin-left: 16px;
    font-size: 12px;
    display: block;
}
.hotspotuploadbtn input span{
     float: right;
    font-weight: 900;
    line-height: 15px;
}
.linkedscene{
    padding:0px;
    padding-top: 30px;
    padding-bottom: 18px;
    border-top: 1px solid #E4E3E4;
    margin:0;
}
.linkedscene p{
    padding:0px;
    border: none;
    margin:0;
}
.otherscene{
    padding:0px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin:0;
}
.otherscene p{
     padding:0px;
    border: none;
    margin:0;
}
.selecticon{
    margin-top: -100px;
}
.stage-title-dispayimage{
    border:none;
}
.displayimage{
    display: none;
    margin-left: 16px;
}
.stage-title-dispayimage p{
    border:none;
        border: none;
    padding-top: 0px;
    padding-bottom: 12px;
    margin: 0;
}
.uploadimagebox{
    width:614px;
    height: 285px;
    background:white;
    border: 1px solid #E4E3E4;
    padding:15px;
}
.uploadimageboxtitle{
    display: inline-block;
}
.uploadimageboxtitle p{
    display: inline-block;
    
}
.imageupload p{
    border:none;
    width: 96px; 
}
.uploadimagetitle{
    width:450.5px;
    margin-left:16px;
    display: inline-block !important;
    height: 30px;
    background:white;
    border:1px solid #E4E3E4;
    padding-left:16px;
}
.imagetextbox{
    margin-left: 16px;
    width: 452px;
    height: 137px;
}
button:focus{
  outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}
/*
.hotspotuploadbtn input{
  display: block;
}*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
{
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  background:green;
  top: 0;
  position: fixed;
}

.tangram-suggestion-main{
position: fixed;
top:calc(100vh - 372px) !important;
z-index: 100000;
}
